body
  margin 0
  font-family: 'Roboto', sans-serif

*
  box-sizing border-box

.wrapper
  width 50%
  margin 0 auto
  padding 100px 0

a
  text-decoration none

.button
  background-color #ad2c2d
  color white
  padding 10px
  display block
  width 30%
  text-align center
  margin 0 auto
  border-radius 3px
  &:hover
    background-color #b72e32
    box-shadow 1px 1px 1px rgba(0,0,0,0.3)
  i
    margin-right 10px

.form
  border 1px solid #cccccc
  padding 30px
  background-color #f1f1f1
  color #222222
  label
    font-size 30px
    margin-bottom 10px
    display block
  .search-field
    width 100%
    position relative
    i
      position absolute
      left 0
      padding 15px
    input
      width 100%
      outline none
      border 0px
      border 1px solid #cccccc
      padding 10px
      padding-left 40px
      font-size 20px
      background-color #fafafa
