body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
}
a {
  text-decoration: none;
}
.button {
  background-color: #ad2c2d;
  color: #fff;
  padding: 10px;
  display: block;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
}
.button:hover {
  background-color: #b72e32;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.button i {
  margin-right: 10px;
}
.form {
  border: 1px solid #ccc;
  padding: 30px;
  background-color: #f1f1f1;
  color: #222;
}
.form label {
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
}
.form .search-field {
  width: 100%;
  position: relative;
}
.form .search-field i {
  position: absolute;
  left: 0;
  padding: 15px;
}
.form .search-field input {
  width: 100%;
  outline: none;
  border: 0px;
  border: 1px solid #ccc;
  padding: 10px;
  padding-left: 40px;
  font-size: 20px;
  background-color: #fafafa;
}
